<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格</title>
</head>
<body>
    <table border="1">
        <thead>
        <tr> <th>序号</th> <th>书名</th> <th>数量(本)</th> </tr>
        </thead>
        <tbody>
        <tr> <td>1</td> <td>《你好，世界》</td> <td>1</td> </tr>
        <tr> <td>2</td> <td>《你好，楚门》</td> <td>2</td> </tr>
        <tr> <td>3</td> <td>《你好，合肥》</td> <td>3</td> </tr>
        <tr> <td>4</td> <td>《你好，安徽》</td> <td>4</td> </tr>
        <tr> <td>5</td> <td>《你好，中国》</td> <td>5</td> </tr>
        </tbody>

    </table>


<a href="/">返回主页</a>
<a href="/liebiao">列表页面</a>
</body>
</html>